@page "/"
@inject IDuolingoClient client
@inject IValuePersistence persistence
@inject NavigationManager nav

@if(skills is null)
{
    <div>Loading skills...</div>
}
else 
{
    @if(skills.Any())
    {
        <ul>
            @foreach (var skill in skills)
            {
            <li>@skill.Name</li> 
            }
        </ul>
    }
    else {
        <div>No skills found!</div>
    }
}

@code {

    List<Skill> skills;

    protected async override Task OnInitializedAsync()
    {
        var username = await persistence.GetValueAsync("username");
        if(!string.IsNullOrEmpty(username))
            await client.Authenticate(username);

        if(!client.IsAuthenticated)
            nav.NavigateTo("/login");
         else
            skills = (await client.GetSkillsAsync())?.ToList() ?? new List<Skill>();
    }

}