@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<ClientAuthenticator>
    <div class="h-screen w-screen flex flex-col justify-start items-center">
        <Navbar/>
        <MudPaper class="mt-10 mb-10 overflow-y-auto overflow-x-hidden" Height="90%" Width="90%">
            @Body
        </MudPaper>
    </div>
</ClientAuthenticator>



@code {

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#58cc02",
            Dark = "#a7a9ab",
            Secondary = Colors.Green.Accent4,
            AppbarBackground = Colors.Red.Default,
        },
    };



}